body {
    font-family: sans-serif;
    background-color: darkolivegreen;
}

h2, h3, h4, h5, h6 {
    color: #ffffff;
    text-align: center;
    font-family: cursive;
}

h1 {
    color: #f8f8fa;
    text-align: center;
    font-family: sans-serif;
    font-size: 80px;
    background-color: rgba(12, 33, 49, 0.5);
    padding: 100px;
    margin: 0;
}

.select-stat-pr{
    background-color: sandybrown;
}